
<nav>
  <ul>
  <li>
    <a routerLink="books" class="nav-link">Book List</a>
  </li>
  <li class="nav-item">
    <a routerLink="create-book" class="nav-link" routerLinkActive="active">Add Book</a>
  </li>
  <li class="nav-item">
    <a routerLink="create-author" class="nav-link" routerLinkActive="active">Add Author</a>
  </li>
 
  <li class="nav-item">
    <a routerLink="authors" class="nav-link" routerLinkActive="active">Author list</a>
  </li>
  </ul>
  </nav>
  
  <br>
  <h1 class="text-center" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{title}}</h1>
  <br>
  
  <div class="container">
    
  <router-outlet></router-outlet>
  </div>
  
