.custom-form {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b2f5b0;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(24, 1, 1, 0.1);
  }

  .custom-form h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #1808f0;
  }

  .custom-form .form-group {
    margin-bottom: 20px;
  }

  .custom-form label {
    font-weight: bold;
  }

  .custom-form input[type="text"],
  .custom-form input[type="number"],
  .custom-form input[type="tel"],
  .custom-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #79c0f0;
    border-radius: 5px;
  }

  .custom-form input[type="text"]:focus,
  .custom-form input[type="number"]:focus,
  .custom-form input[type="tel"]:focus,
  .custom-form textarea:focus {
    outline: none;
    border-color: #007bff;
  }

  .custom-form .text-danger {
    color: #dc3545;
  }

  .custom-form .btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }