/*.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
  }

  .custom-table th,
  .custom-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #f7a3a3;
  }

  .custom-table th {
    background-color: #6dd6a2;
  }

  .custom-table tbody tr:hover {
    background-color: #6bf182;
  }

  .custom-table .btn {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .custom-table .btn-primary {
    background-color: #dd09cb;
    color: #da4d4d;
    border: none;
  }

  .custom-table .btn-info {
    background-color: #17a2b8;
    color: #fff;
    border: none;
  }

  .custom-table .btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
  }

  /* Styling for the book list container */

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

h2 {
  text-align: center;
  font-size: 28px;
  color: #090df1;
  text-align: center;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Styling for table header cells */
.table th {
  background-color: #c4ee61;
  text-align: left;
  padding: 10px;
  border: 1px solid #f0e6e6;
  text-align: center;
  font-size: 16px;
  color: #0e0d0d;
}

/* Styling for table body cells */
.table td {
  padding: 10px;
  border: 1px solid #e0a3a3;
  font-size: 16px;
  color: #080808;
  text-align: center;
}

/* Alternate row background color for better readability */
.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect on table rows */
.table tbody tr:hover {
  background-color: #e0e0e0;
}

/* Styling for buttons */
.btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

/* View button */
.btn-info {
  background-color: #4caf50;
  color: #fff;
}

.btn-info:hover {
  background-color: #c0eb04;
}

.btn-info:active {
  background-color: #3e8e41;
}

/* Update button */
.btn-warning {
  background-color: #e93103;
}

.background-container {
  /* Set the background image using the URL of the image */
  background-image: url('C:\Users\LOGESH E\Documents\spring pro\libraryms\lms\Library.jpg');

  /* Set background image properties */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-size: cover; /* Scale the image to cover the entire element */
  background-position: center; /* Center the image horizontally and vertically */
}
